body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .center {
    text-align: center;
  }
  
  .countdown {
    margin-bottom: 20px;
  }
  
  #timer {
    font-size: 3rem;
  }
  
  #timer span {
    margin: 0 5px;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  .date p {
    font-size: 1.2rem;
    margin-top: 0;
  }
  