body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

#password-manager {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#password-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

#password-list li {
	margin-bottom: 5px;
}

.delete-button {
	background-color: red;
	color: white;
	border: none;
	padding: 5px;
	cursor: pointer;
}